{% extends "base.html" %}
{% block body %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>Long URL</th>
      <th>Short URL</th>
      <th>Hits</th>
      <th>Created on</th>
      <th>Created by</th>
    </tr>
  </thead>
  <tbody>
    {% for shortening in shortenings %}
      <tr>
        <td>
          <a href="{{ shortening.long_url }}" target="_blank">
            {{ shortening.long_url }}
          </a>
        </td>
        <td>
          <a href="{{ url_root + shortening.short_url }}" target="_blank">
            {{ shortening.short_url }}
          </a>
        </td>
        <td>{{ shortening.hits }}</td>
        <td>{{ shortening.timestamp }}</td>
        <td>{{ shortening.ip }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>



{% endblock %}
