<!doctype html>
<html>
  <head>
    <title>Pitic</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/united/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="../static/style.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:900" rel="stylesheet">

    <script src="https://use.fontawesome.com/a33ae69cd1.js"></script>

<!--    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <script type="text/javascript">
            alert("{{ message }}");
          </script>
        {% endfor %}
      {% endif %}
    {% endwith %}
-->
  </head>
  <body>
        {% block body %}
        {% endblock %}

        {% if error %}
          <span class="label label-info">{{ error }}</span>
        {% endif %}
  </body>
</html>
