{% extends "base.html" %}
{% block body %}

<table class="table table-hover">
  <thead>
    <tr>
      <th>URL</th>
      <th>URL pitic</th>
      <th>Created on</th>
      <th>Created by</th>
    </tr>
  </thead>
  <tbody>
    {% for shortening in shortenings %}
      <tr>
        <td>{{ shortening.long_url }}</td>
        <td>{{ shortening.short_url }}</td>
        <td>{{ shortening.timestamp }}</td>
        <td>{{ shortening.ip }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
